{% extends "twigo/navbar_base.html" %}
{% block layout %}
<form method="POST" class="max-w-sm mx-auto mt-10 py-8">
    {% csrf_token %}
    <div class="mb-5">
        <h1 class="text-4xl font-bold text-center text-gray-800 dark:text-gray-800 mb-6">Login Form</h1>
        <label for="username" class="block mb-2 text-sm font-medium text-gray-700 dark:text-gray-700">Username</label>
        <input type="text" id="username" name="username" class="bg-white border border-gray-300 text-gray-700 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-800 dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter your username" required value="{{ form.username.value }}" />
    </div>
    <div class="mb-5">
        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-700">Password</label>
        <input type="password" id="password" name="password" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-700 dark:focus:ring-blue-500 dark:focus:border-blue-500" required value="{{ form.password.value }}" />
    </div>
    <button type="submit" class="text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-gray-700 dark:hover:bg-gray-780 dark:focus:ring-gray-800">Submit</button>
    <h3 class="text-lg font-medium text-gray-700 dark:text-gray-700 mt-4">
        Don't have an account?
    </h3>
    <a href="{% url 'register_user' %}" class="text-gray-600 dark:text-gray-400 hover:underline">
        Register Here
    </a>
</form>

{% comment %} 
<form method="POST" class="max-w-sm mx-auto mt-10 py-8">
    {%csrf_token%}
   <div class="mb-5">
    <h1 class="text-4xl font-bold text-center text-gray-800 dark:text-gray-800 mb-6">
        Login Form
    </h1>
    <label for="username" class="block mb-2 text-sm font-medium text-gray-700 dark:text-gray-700">
        Username
    </label>
        <input type="text" id="username" name="username" class="bg-white border border-gray-300 text-gray-700 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-800 dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="safdar_ali23" required value="{{ form.username.value }}" />
    </div>
    <div class="mb-5">
    <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-700">
        Password
    </label>
        <input type="password" id="password" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-700 dark:focus:ring-blue-500 dark:focus:border-blue-500" required value="{{ form.password.value }}" />
  </div>
  <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
    Submit
</button>
</form> {% endcomment %}

{% endblock layout %}